{% extends 'layout.html' %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-tabs">
      </div>

      <div class="section-map">
        <div class="nav">
          <form method="POST" action="/home">
            {{ form.hidden_tag() }}

            <div class="form-group">
              {% if form.address.errors %}
                {% for error in form.address.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% endif %}

              {{ form.address(placeholder="Explore nearby") }}
            </div>

            {{ form.submit(class="btn-primary")}}
          </form>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </main>

{% endblock %}
