{% extends 'layout.html' %}

{% block content %}
  <main class="container signup-section">
    <div class="section-content">
      <h2>Log in</h2>
      
      <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        <!-- Email -->
        <div class="form-group">
          {{ form.email.label }}
            <!-- Error display -->
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            {% endif %}
          
          {{ form.email }}
        </div>
        <!-- Password -->
        <div class="form-group">
          {{ form.password.label }}
          <!-- Error display -->
          {% if form.password.errors %}
              {% for error in form.password.errors %}
                  <p class="error-message">{{ error }}</p>
              {% endfor %}
          {% endif %}
          
          {{ form.password }}
        </div>
        
        {{ form.submit(class="btn-primary") }}
      </form>
    </div>
  </main>
{% endblock %}